div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
div:nth-child(2){
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}




/* .five-more-colors div:first-child{
color: red;
order: 5
}
.five-more-colors div:nth-child(2){
    color: rgb(0, 153, 255);
    order: 2
    }
.five-more-colors div:nth-child(3){
    color: rgb(251, 106, 154);
    order: 3
}
.five-more-colors div:nth-child(4){
    color: rgb(109, 176, 255);
    order: 4
}
.five-more-colors div:nth-child(5){
    color: rgb(196, 44, 77);
    order: 1
} */
